<a href="https://colab.research.google.com/github/Karishmadeshmukh796/project_R_programming/blob/main/PROJECT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
install.packages("ggplot2")
install.packages("ISLR")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
df=read.csv("Customers.csv")

In [ ]:
head(df)

  CustomerID Gender Age Annual.Income.... Spending.Score..1.100. Profession
1 1          Male   19  15000             39                     Healthcare
2 2          Male   21  35000             81                     Engineer
3 3          Female 20  86000              6                     Engineer
4 4          Female 23  59000             77                     Lawyer
5 5          Female 31  38000             40                     Entertainment
6 6          Female 22  58000             76                     Artist
  Work.Experience Family.Size
1 1               4
2 3               3
3 1               1
4 0               2
5 2               6
6 0               2

In [ ]:
str(df)

'data.frame':	2000 obs. of  8 variables:
 $ CustomerID            : int  1 2 3 4 5 6 7 8 9 10 ...
 $ Gender                : chr  "Male" "Male" "Female" "Female" ...
 $ Age                   : int  19 21 20 23 31 22 35 23 64 30 ...
 $ Annual.Income....     : int  15000 35000 86000 59000 38000 58000 31000 84000 97000 98000 ...
 $ Spending.Score..1.100.: int  39 81 6 77 40 76 6 94 3 72 ...
 $ Profession            : chr  "Healthcare" "Engineer" "Engineer" "Lawyer" ...
 $ Work.Experience       : int  1 3 1 0 2 0 1 1 0 1 ...
 $ Family.Size           : int  4 3 1 2 6 2 3 3 3 4 ...

In [ ]:
class(df)

[1] "data.frame"

In [ ]:
length(df)

[1] 8

In [ ]:
dim(df)

[1] 2000    8